<div class="gs-section">
    <div class="hero">
        <div class="hero-body custom-hero-padding">
            <div class="container">
                <div class="content">
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                            <h1 class="tile is-4">找回密码</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section custom-section-padding">
        <div class="container">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <form action="/password/reset/email" method="post">
                        <div class="field">
                            <div class="control has-text-left">
                                <input type="email" name="email" placeholder="请输入注册的邮箱地址" class="input">
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">发送重置密码邮件</button>
                            </div>
                        </div>
                        <p class="mt-5 text-muted">
                            记得密码？ <a href="/login" class="btn btn-link">立即登录</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>