<footer class="footer">
    <div class="container">
        <div class="bd-footer-links">
            <div class="columns">
                <div class="column is-4">
                    <p class="bd-footer-link-title">
                        <a href="https://gokangaroo.top">GoSpark - go go Kangogaroo</a>
                    </p>
                    <p class="bd-footer-link newfont">
                        GoSpark 基于 <strong>Golang</strong>的技术分享平台 <br>
                        这里为每一位志同道合的工程师提供一个良好的技术平台 技术让生活更加美好
                    </p>
                </div>
                <div class="column is-2">
                    <p class="bd-footer-link-title">
                        <a href="/resource">推广资源</a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">支付推送服务</a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">阿里云服务</a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">Vultr服务器</a>
                    </p>
                </div>
                <div class="column is-2">
                    <p class="bd-footer-link-title">
                        <a href="/resource">资源链接</a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                            <span class="bd-footer-link-icon link-icon has-text-success">
                                <i class="fas fa fa-american-sign-language-interpreting gs-icon-6"></i>
                            </span>
                            商务合作
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                             <span class="bd-footer-link-icon link-icon has-text-info">
                                <i class="fas fa fa-users gs-icon-6"></i>
                            </span>
                            商务合作
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                             <span class="bd-footer-link-icon link-icon has-text-danger">
                                <i class="fas fa fa-heart gs-icon-6"></i>
                            </span>
                            商务合作
                        </a>
                    </p>
                </div>
                <div class="column is-2">
                    <p class="bd-footer-link-title">
                        <a href="#">社交媒体</a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                             <span class="bd-footer-link-icon link-icon has-text-info">
                                <i class="fas fa fa-fire-alt gs-icon-6"></i>
                            </span>
                            友情链接
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                             <span class="bd-footer-link-icon link-icon has-text-dark">
                                <i class="fas fa fa-github gs-icon-6"></i>
                            </span>
                            Github-GoSpark
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                             <span class="bd-footer-link-icon link-icon has-text-success">
                                <i class="fas fa fa-weixin gs-icon-6"></i>
                            </span>
                            微信公众号
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                             <span class="bd-footer-link-icon link-icon has-text-warning">
                                <i class="fas fa fa-weibo gs-icon-6"></i>
                            </span>
                            GeekGhc
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                             <span class="bd-footer-link-icon link-icon has-text-black">
                                <i class="fas fa fa-qq gs-icon-6"></i>
                            </span>
                            QQ号：2438462863
                        </a>
                    </p>
                </div>
                <div class="column is-2">
                    <p class="bd-footer-link-title">
                        <a href="/resource">关于本站</a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                         <span class="bd-footer-link-icon link-icon has-text-black">
                            <i class="fas fa fa-universal-access gs-icon-6"></i>
                        </span>
                            关于我们
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                        <span class="bd-footer-link-icon link-icon has-text-black">
                            <i class="fas fa fa-globe-africa gs-icon-6"></i>
                        </span>
                            加入我们
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                        <span class="bd-footer-link-icon link-icon has-text-black">
                            <i class="fas fa fa-copyright gs-icon-6"></i>
                        </span>
                            版权声明
                        </a>
                    </p>
                    <p class="bd-footer-link">
                        <a href="#">
                        <span class="bd-footer-link-icon link-icon has-text-black">
                            <i class="fas fa fa-question-circle gs-icon-6"></i>
                        </span>
                            常见问题
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="content">
            <p class="text-center">
                <strong>© </strong> 2019 <a href="https://gokangaroo.top"><strong>GoSpark</strong></a>.
                <a href="https://www.miitbeian.gov.cn/" target="_blank"><strong>苏ICP备18003456号-2</strong></a>;

                本网站 <strong> 如有问题 </strong> 请 <a href="https://gokangaroo.top/about">联系我们</a>。
            </p>
        </div>
    </div>
</footer>