<nav id="topNavbar" role="navigation" class="navbar is-fixed-top is-dark is-spaced">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="https://geixue.com/images/logo.png" alt="" class="logo">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/blogs" class="navbar-item bd-navbar-item-videos">
                    <span class="icon has-text-success">
                        <i class="fas fa-book"></i>
                    </span>
                    <span class="ml-point-2">文章</span>
                </a>
                <a href="/blogs" class="navbar-item bd-navbar-item-videos">
                    <span class="icon has-text-success"></span>
                    <span class="ml-point-2">问答</span>
                </a>
                <a href="/blogs" class="navbar-item bd-navbar-item-videos">
                    <span class="icon has-text-success">
                        <i class="fas fa-rss"></i>
                    </span>
                    <span class="ml-point-2">专栏</span>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/login">登录</a>
                </div>
                <div class="field is-grouped is-grouped-multiline">
                    <p class="control">
                        <a href="/register" class="button is-link">
                            <strong>加入GoSpark</strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>