<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoSpark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GoSpark GoLang交流分享平台"/>

    <link href="{{.TplStatic}}css/index.css" rel="stylesheet">
    <link href="{{.TplStatic}}css/common/bulma.css" rel="stylesheet">
    {{/*<link href="{{.TplStatic}}css/common/fontawesome.css" rel="stylesheet">*/}}
    <link href="{{.TplStatic}}css/home/index.css" rel="stylesheet">
    {{.Styles}}
</head>
<body>

<div id="app">
{{template "layouts/_header.html"}}
        {{.LayoutContent}}
{{template "layouts/_footer.html"}}
</div>

<script defer src="{{.TplStatic}}js/common/fontawesome.min.js"></script>
{{.Scripts}}
</body>
</html>