.homepage-padding {
    padding: 3rem 1.5rem 8em 1.5em;
}
.intro-columns {
    display: flex;
    justify-content: center;
}
.intro-column.is-content {
    margin-right: 1.5rem;
    width: calc(50% - 1.5rem);
}
.intro-content{
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}
.intro-title{
    font-weight: 400;
    line-height: 1.375;
}
.intro-title:not(:last-child){
    margin-bottom: 20px;
}
.intro-title .site-name{
    font-size: 1.74em;
    color: #f5f5f5;
}
.intro-title strong{
    font-weight: 700;
}
.intro-column.is-video{
    margin-left: 1.5rem;
    width: calc(50% - 1.5rem);
}
.intro-npm {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    -webkit-animation-name: bdSlowIn;
    animation-name: bdSlowIn;
    background: #242424;
    color: #fff;
    border-radius: 2px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    line-height: 20px;
    padding: 20px 25px;
    position: relative;
}
pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    color: #4a4a4a;
    font-size: .875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: pre;
    word-wrap: normal;
}
code, pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace;
}
.intro-npm code {
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 20px;
}
pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
}
.intro-npm .intro-npm-copy {
    border-radius: 4px;
    color: #ffad0c;
    cursor: pointer;
    margin: -2px -7px -3px;
    padding: 2px 7px 3px;
}
@-webkit-keyframes typedjsBlink {
    0%{
        color: #fff;
    }
    100%{
        color: #242424;
    }
}
@keyframes typedjsBlink {
    0%{
        color: #fff;
    }
    100%{
        color: #242424;
    }
}
.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
}
.intro-buttons{
    margin-top: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.section-padding {
    padding: 3rem 1.5rem;
}
.intro-title>h2{
    margin-bottom: 2rem;
    font-size: 1.875rem;
    letter-spacing: 0.1em;
    color: #22292f;
    text-align: center;
}
.bd-focus{
    margin: 3rem auto 0;
    max-width: 1080px;
}
.bd-focus .bd-focus-item{
    border-radius: 6px;
    padding-top: 1.25rem;
    position: relative;
    cursor: pointer;
}
.bd-focus-item .title {
    position: relative;
    transition-duration: 172ms;
    transition-property: color;
}
.bd-focus-item .title.is-4 {
    font-size: 1.25rem;
}

.bd-focus .bd-focus-item .bd-card{
    padding: .75rem 2rem;
    border-radius: .5rem;
}
.bd-focus .bd-focus-item::before{
    background-color: #fafafa;
}
.bd-focus .bd-focus-item .bd-focus-meta{
    margin-top: -6px;
    border: 1px dashed #ccc;
    border-top: none;
    padding: 1rem 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.bd-focus-item .bd-card.is-php{
    background-image: linear-gradient(180deg,#f44881,#ec454f);
}
.bd-focus-item .bd-card.is-golang{
    background-image: linear-gradient(180deg,#21c8f6,#637bff);
}
.bd-focus-item .bd-card.is-sql{
    background-image: linear-gradient(180deg,#6edcc4,#1aab8b);
}
.bd-focus-item .bd-card.is-tool{
    background-image: linear-gradient(180deg,#8b60ed,#b372bd);
}
.bd-focus .bd-focus-item .bd-card>h4{
    line-height: 1.25;
    text-align: center;
}
.bd-focus .bd-focus-item .bd-focus-meta .subtitle{
    color: #b5b5b5;
}
.bd-focus .bd-focus-item:hover .subtitle{
    color: #4a4a4a;
}
.bd-focus-item:nth-child(1):hover .title {
    color: #ff470f;
}
.bd-focus-item:nth-child(2):hover .title {
    color: #21c8f6;
}
.bd-focus-item:nth-child(3):hover .title {
    color: #6edcc4;
}
.bd-focus-item:nth-child(4):hover .title {
    color: #8b60ed;
}
.bd-snippet-preview {
    padding: 1.5rem;
}
.bd-footer-link-title {
    color: #363636;
    font-size: 1.25rem;
    font-weight: 600;
}
.bd-footer-links a {
    color: currentColor;
}
.newfont, .title, a, input {
    font-family: Helvetica,Tahoma,Arial,STXihei,"\534E\6587\7EC6\9ED1",Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",SimSun,"\5B8B\4F53",Heiti,"\9ED1\4F53",sans-serif;
}
.bd-footer-link {
    margin-top: .5rem;
}
.footer>.container>.content{
    padding: 2em;
    text-align: center;
}
.custom-hero-padding {
    padding: 2rem 1.5rem 1em 1.5em;
}
.custom-section-padding {
    padding: 1rem 1.5rem 3em 1.5em;
}