<div style="margin-top: 84px;">
    <section class="hero is-dark">
        <div class="hero-body homepage-padding">
            <div class="container">
                <div class="intro-columns">
                    <div class="intro-column is-content">
                        <div class="intro-content">
                            <h1 class="title intro-title">
                                <strong class="site-name">GoSpark</strong>
                                <br>
                                只为分享开发者的学习点滴<br>
                                成为一名更优秀的工程师
                            </h1>
                            <pre id="npm" class="intro-npm">
                                <code><span class="has-text-success bold-font">$</span> go start <span class="kebox has-text-info bold-font">GoSpark </span><span>.....</span><span class="typed-cursor typed-cursor--blink">.</span>
                                </code>
                                <code id="testText" class="intro-npm-copy" style="color: #38c172">✔ passed</code>
                            </pre>
                            <nav class="intro-buttons">
                                <a class="button is-link is-large is-rounded" href="/register">
                                    <span>
                                        <strong>现在开始学习</strong>
                                    </span>
                                </a>
                                <a class="button is-link is-outlined is-large is-rounded" href="/register">
                                    <span>
                                        <strong>加入文章专栏</strong>
                                    </span>
                                </a>
                            </nav>
                        </div>
                    </div>
                    <div class="intro-column is-video is-hidden-mobile">
                        <img src="https://img.geixue.com/image/developer-geixue.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-light">
        <div class="container section-padding">
            <div class="hero-head intro-title">
                <h2>编程的意义就是让世界变得有趣一点</h2>
            </div>
        </div>
    </section>
    <section>
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Tweets</p>
                    <p class="title">3,456</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Following</p>
                    <p class="title">123</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Followers</p>
                    <p class="title">456K</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Likes</p>
                    <p class="title">789</p>
                </div>
            </div>
        </nav>
    </section>
</div>