<div style="margin-top: 84px;">
    <section class="hero is-dark">
        <div class="hero-body homepage-padding">
            <div class="container">
                <div class="intro-columns">
                    <div class="intro-column is-content">
                        <div class="intro-content">
                            <h1 class="title intro-title">
                                <strong class="site-name">GoSpark</strong>
                                <br>
                                只为分享开发者的学习点滴<br>
                                成为一名更优秀的工程师
                            </h1>
                            <pre id="npm" class="intro-npm">
                                <code>
                                    <span class="has-text-success bold-font">$</span>  go get
                                    <span class="kebox has-text-info bold-font">GoSpark</span>
                                    <span>......</span>
                                </code>
                                <code id="testText" class="intro-npm-copy" style="color: #38c172">✔ passed</code>
                            </pre>
                        </div>
                    </div>
                    <div class="intro-column is-video is-hidden-mobile">
                        <img src="https://img.geixue.com/image/developer-geixue.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>