<div class="gs-section">
    <section class="hero is-dark">
        <div class="hero-body homepage-padding">
            <div class="container">
                <div class="intro-columns">
                    <div class="intro-column is-content">
                        <div class="intro-content">
                            <h1 class="title intro-title">
                                <strong class="site-name">GoSpark</strong>
                                <br>
                                只为分享开发者的学习点滴<br>
                                成为一名更优秀的工程师
                            </h1>
                            <pre id="npm" class="intro-npm">
                                <code><span class="has-text-success bold-font">$</span> go start <span
                                        class="kebox has-text-info bold-font">gospark </span><span>.....</span><span
                                        class="typed-cursor typed-cursor--blink">.</span>
                                </code>
                                <code id="testText" class="intro-npm-copy" style="color: #38c172">✔ passed</code>
                            </pre>
                            <nav class="intro-buttons">
                                <a class="button is-link is-large is-rounded" href="/register">
                                    <span>
                                        <strong>现在开始学习</strong>
                                    </span>
                                </a>
                                <a class="button is-link is-outlined is-large is-rounded" href="/register">
                                    <span>
                                        <strong>加入文章专栏</strong>
                                    </span>
                                </a>
                            </nav>
                        </div>
                    </div>
                    <div class="intro-column is-video is-hidden-mobile">
                        <img src="/static/img/home/home-banner-lary.svg" style="mix-blend-mode: luminosity; cursor: pointer;" data-loaded="true">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-light">
        <div class="container section-padding">
            <div class="hero-head intro-title">
                <h2>编程的意义就是让世界变得有趣一点</h2>
            </div>
            <div class="bd-focus">
                <nav class="columns">
                    <div class="bd-focus-item has-text-centered column">
                        <div class="bd-card gs-relative is-php">
                            <a href="#" class="gs-block">
                                <img src="/static/img/home/laravel-default.svg" alt=""
                                     class="skill-card-thumbnail">
                            </a>
                            <h4 class="has-text-white">PHP/Laravel</h4>
                        </div>
                        <div class="bd-focus-meta has-text-centered gs-px-6">
                            <p class="title is-4">
                                <strong>文章专栏</strong>
                            </p>
                            <p class="subtitle is-6">
                                丰富的技术文章专栏
                            </p>
                        </div>
                    </div>
                    <div class="bd-focus-item has-text-centered column">
                        <div class="bd-card gs-relative is-golang">
                            <a href="#" class="gs-block">
                                <img src="/static/img/home/php-default.svg" alt=""
                                     class="skill-card-thumbnail">
                            </a>
                            <h4 class="has-text-white">Golang</h4>
                        </div>
                        <div class="bd-focus-meta has-text-centered gs-px-6">
                            <p class="title is-4">
                                <strong>社区交流</strong>
                            </p>
                            <p class="subtitle is-6">
                                问答社区，开启学习之路
                            </p>
                        </div>
                    </div>
                    <div class="bd-focus-item has-text-centered column">
                        <div class="bd-card gs-relative is-sql">
                            <a href="#" class="gs-block">
                                <img src="/static/img/home/testing-default.svg" alt=""
                                     class="skill-card-thumbnail">
                            </a>
                            <h4 class="has-text-white">Sql/Server</h4>
                        </div>
                        <div class="bd-focus-meta has-text-centered gs-px-6">
                            <p class="title is-4">
                                <strong>消息新闻推送</strong>
                            </p>
                            <p class="subtitle is-6">
                                不错过你想要的
                            </p>
                        </div>
                    </div>
                    <div class="bd-focus-item has-text-centered column">
                        <div class="bd-card gs-relative is-tool">
                            <a href="#" class="gs-block">
                                <img src="/static/img/home/tooling-default.svg" alt=""
                                     class="skill-card-thumbnail">
                            </a>
                            <h4 class="has-text-white">Tool</h4>
                        </div>
                        <div class="bd-focus-meta has-text-centered gs-px-6">
                            <p class="title is-4">
                                <strong>资料分享</strong>
                            </p>
                            <p class="subtitle is-6">
                                分享实用的Tips
                            </p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <section class="bd-snippet-preview ">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Users</p>
                    <p class="title">9,48</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Article</p>
                    <p class="title">585</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Message</p>
                    <p class="title">4.2K</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Likes</p>
                    <p class="title">789</p>
                </div>
            </div>
        </nav>
    </section>
</div>